*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple-700: #282630;
    --purple-500: #291257;
    --red-400: #e53935;
    --red-300: #f44336;
    --black: #000;
    --blue-400: #1a1aff;
    --blue-300: #3333ff;
    --gray-200: #d5cdff;
    --black: #000;
    --white: #FFF;
    --lg-screen: 1200px;
    --md-screen: 768px;
    --sm-screen: 576px;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    background: radial-gradient(circle, var(--purple-700), var(--purple-500));
    border-radius: 16px;
    max-width: var(--1g-screen);
    min-width: var(--sm-screen);
    margin: 0 auto;
    height: 100%;
    padding-bottom: 1rem;
}

.header{
    padding: 1rem 2rem 0;
    text-align: center;
}

.header__title{
    color: var(--white);
    font-weight: 600;
    letter-spacing: 3px;
}

.form-container{
    max-width: var(--md-screen);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container__title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--white);
}

.item-form__input,
.item-form__textarea {
    width: 100%;
    margin-top: 0.7rem;
    padding: 0.75rem;
    border: 1px solid var(--gray-100);
    font-size: 1rem;
    color: #333;
}

.item-form__textarea{
    resize: none;
}



.item-form__button{
    padding: 0.75rem 1.5rem;
    background-color: #4caf50;
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}